* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: #241f2ccc;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
}

.landing {
    background-color: #90a6cfc5;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.72);
    background-image: url(images/palm.jpg);
}

.content .landing a{
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    bottom: 50px;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.scroll-down p{
    margin-bottom: .9rem;
}

.scroll-down{
    color: #f7faffe5
}

.about{
    background-color: #5e78a8c5;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: monospace;
}

.navbar{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 40px;
    
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 30px;
    border-radius: 16px;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;

    z-index: 50;
    box-shadow: 10px 5px 100px rgba(0,0,0,0.2);
}

.nav-home{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(#848BAA, #96989e);
    padding: 8px 10px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-home:hover{
    font-size:1.12rem;
    text-shadow: 0 0 30px #ffffff;
}

.nav-github{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(#babfd4, #96989e);
    padding: 8px 10px;
    border: 10px;
    border-color:white;
}

.nav-github a{
    color:white;
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    background: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 4px;
    border-color: rgba(225, 225, 225, 0.1);
    border-style: solid;
    border-width: 0.0009rem;
}

.nav-tabs a:hover{
    text-shadow: 0 0 15px #ffffff;
    font-size:1.18rem;
}

.nav-tab {
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-tab.active{
    background:linear-gradient(#848BAA, #7a7f94);
    opacity: .9;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.hero{
    font-size: 1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10%;
    padding-top: 30vh;
    justify-content: center;
    position: absolute;
}

.hero-description{
    font-size: 1.005rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 13%;
    padding-top: 33vh;
    justify-content: center;
    position: absolute;
}

.hero-contact{
    font-size: 2rem;
    color: #d4d393e5;
}

.forum-post{
    background-color: rgba(113, 107, 156, 0.473);
    width: 8px;
    height: 90px;
    border: none;
    position: absolute;
    left: 11.8%;
    top: 33%;

}

.hero-disclaimer{
    font-size: .6rem;
}

.scroll-top{
    bottom: 30px;
    right: 30px;
    position: fixed;

    background: rgba(255, 248, 248, 0.23);
    backdrop-filter: blur(3px);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.scroll-top:hover{
    text-shadow: 0 0 15px #ffffff;
}