body {
    background-color: #000;
    color: #eee;
    margin: 0;
    font-family: Poppins;
}

header {
    border-bottom: 1px solid #eee2;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.banner {
    background-image: url(image/leaves.jpg);
    width: 100%;
    height: 100vh;
    margin-top: -70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-reapeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content{
    font-size: 12px;
    text-transform: uppercase;
}

.banner .content div:nth-child(1){
    font-size: 3em;
}
.banner .content div:nth-child(2){
    font-size: 20em;
}